* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding: 0;
}
.ofertas {
    padding: 20px;
    color: #ffffff;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
}
.pais-moneda {
    display: flex;
}
.pais-moneda p {
    margin-left: 10px;
}
.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color:#F0A83E;
}
nav ul {
    display: flex;
}
nav ul li {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 5px;

}
nav ul li img {
    margin-right: 4px;
    width: 20px;
    color: white;
}

nav ul li a {
    text-decoration: none;
    color: white;
}
.navbar {
    display: none;
}
.content-primero {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 60px;
    background-image: url("../img/slider.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 409px;
    text-align: center;
}
.descripcion {
    transition: all 0.7s;
    float: right;
    bottom: 0px;
    padding-top: 165px;
    padding-bottom: 165px;
}
.descripcion  h1{
    width: 290px;
    padding: 5px;
    background-color: white;
}
.descripcion p {
    color: white;
    margin-top: 5px;
    font-size: 17px;
    margin-bottom: 15px;
}
.descripcion a {
    padding: 10px;
    background-color: #f0a83e;
    color: white;
    text-decoration: none;

}
.content {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;

}
.eddd {
    text-align: center;
}
.eddd h1 {
    font-size: 40px;
}
.content > .eddd ol {

    padding-top: 15px;
}
.content > .eddd ol li {
    display: inline;
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}
.content > .eddd ol li a {
    color: #666666;
    text-decoration: none;
}

.articulos {
    padding-top: 20px;
    text-align: center;
}
article {
    display: inline-block;
    width: 220px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 5px 38px -27px;
}
article > img {
    width: 220px;
}
article > .precio {
    color: #F0A83E;
}

.suscribete {
    background-color: #F0A83E;
    padding: 15px;
}




.footer-primero {
    position: relative;
    width: -webkit-fill-available;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #3C2313;
    color: white;
}
.infote {
    width: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.infotes {
    padding: 10px;
}
.infotes img{
    float: left;
    padding-right: 20px;
}
.infot-left p {
    color: #8A8787;
}
.logito {
    float: right;
    /* top: 0; */
    position: absolute;
    right: 0;
    top: 147px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 70px;
}


footer{ 
    text-align: center;
    background-color: black;
    color: white;
    padding: 15px;
}

@media (max-width:650px) {
    .header nav {
        left: -140px;
        top: 67px;
        padding: 10px;
        z-index: 1;
        background-color: white;
        position: absolute;
    }
    .header nav ul {
        z-index: 1;
        display: flex;
        flex-direction: column;

    }
    .header nav ul li {
        display: flex;
        align-items: center;
        margin-top: 10px;
    }
    .header nav ul li img {
        margin-right: 5px;
        filter: invert(0.4) sepia(1) hue-rotate(20deg) saturate(1000%);
    }
    .header nav ul li a {
        color: black;
    }
    .header nav ul li a:hover {
        color: #F0A83E;
    }
    .navbar {
        display: block;
    }
    .navbar .fa-bars {
        cursor:pointer;
        transition: all 0.4s;
        font-size: 4.9vh;
        color: white;
    }
    .navbar .fa-bars:hover {
        transition: all 0.4s;
        color: black;
    }





    .logito {
        text-align: center;
        top: 0;
        position: relative;
        float: none;
        padding-right: 0;
    }
}
@media (max-width:850px) {
    .descripcion {
        align-items: center;
        display: flex;
        transition: all 0.7s;
        float: none;
        justify-content: center;
        align-content: center;
        flex-direction: column;

    }

}